* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

li {
    list-style: none;
}

.df {
    display: flex !important;
}

.fdc {
    flex-direction: column !important;
}

.jcc {
    justify-content: center !important;
}

.jcsb {
    justify-content: space-between !important;
}

.jcsa {
    justify-content: space-around !important;
}

.jcse {
    justify-content: space-evenly !important;
}

.aic {
    align-items: center !important;
}

.jce {
    justify-content: end !important;
}

.cp {
    cursor: pointer !important;
}

.dn {
    display: none !important;
}

.db {
    display: block !important;
}

.m1 {
    margin: 1rem !important;
}

.m2 {
    margin: 2rem !important;
}

.p1 {
    padding: 1rem !important;
}

.p2 {
    padding: 2rem !important;
}

.alie {
    align-items: end;
}

.fdrr {
    flex-direction: row-reverse;
}

.dib {
    display: inline-block;
}