@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}


#playList {
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    height: calc(100vh - 4rem);
    overflow: auto;
}

.song {
    margin: .5rem 0;
    border-radius: 5rem;
    padding: .2rem .7rem .2rem .2rem;
    background: #00000083;
    color: #fff;
}

.song img {
    height: 2.5rem;
    border-radius: 5rem;
    margin-right: .5rem;
}

.song ion-icon {
    font-size: 1.5rem;
}

#box {
    height: 100vh;
}

.leftside {
    width: 40vw;
}

#cover {
    height: 18rem;
    border-radius: 1rem;
}

.rightside {
    width: 60vw;
    color: white;
}

#name {
    font-size: 1.5rem;
    line-height: 2rem;
}

#singerName {
    font-size: 0.75rem;
    line-height: 1rem;
}

.playerOptions {
    width: 100%;
    margin: 1.25rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#heart {
    transition: all .1s ease-in-out;
}

#heart:active {
    transform: scale(1.4);
}

#seek,
.player {
    width: 24rem;
}

.player {
    margin: 1.25rem 0;
    font-size: 1.5rem;
    line-height: 2rem;

}


/* utility classes */

li {
    list-style: none;
}

.df {
    display: flex !important;
}

.fdc {
    flex-direction: column !important;
}

.jcc {
    justify-content: center !important;
}

.jcsb {
    justify-content: space-between !important;
}

.jcsa {
    justify-content: space-around !important;
}

.jcse {
    justify-content: space-evenly !important;
}

.aic {
    align-items: center !important;
}

.jce {
    justify-content: end !important;
}

.cp {
    cursor: pointer !important;
}

.dn {
    display: none !important;
}

.db {
    display: block !important;
}

.m1 {
    margin: 1rem !important;
}

.m2 {
    margin: 2rem !important;
}

.p1 {
    padding: 1rem !important;
}

.p2 {
    padding: 2rem !important;
}

.alie {
    align-items: end;
}

.fdrr {
    flex-direction: row-reverse;
}

.dib {
    display: inline-block;
}